body{
  user-select: none;
}

.main11>img{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 200px;
}
.main11{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;

}
.main-heading{
text-align: center;
}
.navbar{
  display: flex;
  list-style-type: none;
  padding: 20px;
}
li a{
  text-decoration: none;
  padding: 20px;
  display: flex;
 color:#4d4b5a;
}

  .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .navbar li {
      display: inline-block;
      position: relative;
  }

  .navbar li a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: #000;
  }

  .navbar li:hover .dropdown-content {
      display: block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
      background-color: #f1f1f1;
  }


.sidebar{
  display: none;
}


.section-title>h2{
  color: rgb(0, 0, 190);
}

#whatsapp{
  background-color: green;
  color: white;
   border: none;
   padding: 15px;
   border-radius: 10px;
}
.hero-section6{
  background-color: #717171;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#footer-main{
  display: flex;
  flex-wrap: wrap;
}
.hero-section6-main{
  display: flex;
 flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 80px;
  
}
.footer1{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main6{
  display: flex;
  align-items: center;
 justify-content: space-evenly;

}
.main6>img{
  width: 100px;
}
.main6>p{
 color: white;
}
.main6-email{
  display: flex;
 align-items: center;
}
.main6-email>input{
  padding: 10px;
  border: none;
}
.main6-email>button{
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
}
.footer1>li a{
  color: white;
}

.footer2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #717171;
}
#icons1{
  padding: 0px 20px;
}
@media screen and (max-width:800px) and (min-width:100px) {

  .main11{
      display: block;
    
  }
  .navbar{
      flex-direction: column;
      display: none;
  }
  li a{
      display: flex;
      justify-content: center;
      
  }
  .sidebar{
    display: flex;
    justify-content:flex-end;
    padding: 0px 60px 0px 0px;
    align-items: center;
     cursor: pointer;
  }
  .sidebar>.fa-bars{
      display: block;
      font-size: 30px;
      color: black;
  }

 .sidebar>.fa-xmark{
     display: none;
     font-size: 30px;
     color: black;
     
 }
 
}