body {
    padding-left: 20px;
    animation: slide-in 1s forwards;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333; /* Dark gray text color for headings */
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
.logo>img{
    width: 100px;
}
.main11>img{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 200px;
}
.main11{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;

}
.navbar{
    display: flex;
    list-style-type: none;
    padding: 20px;
}
li a{
    text-decoration: none;
    padding: 20px;
    display: flex;
   color:#4d4b5a;
}
.sidebar{
    display: none;
}
.hero-section1{
    display: flex;
    justify-content: center;

}
.hero-section6{
    background-color: #717171;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .footer1{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main6{
    display: flex;
    align-items: center;
   justify-content: space-evenly;
  
  }
  .main6-email>input{
    padding: 10px;
    border: none;
  }
  .main6-email>button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
  }
  .main6>img{
    width: 100px;
  }
  .main6>p{
   color: white;
  }
  .main6-email{
    display: flex;
    align-items: center;
  }
  .footer1>li a{
    color: white;
  }
  
  .footer2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border: 2px solid;
    background-color: #717171;
  }
  #icons1{
    padding: 10px;
  }
  
@media screen and (max-width:600px) and (min-width:100px) {

    .main11{
        display: block;
      
    }
    .navbar{
        flex-direction: column;
        display: none;
    }
    li a{
        display: flex;
        justify-content: center;
        
    }
    .sidebar{
      display: flex;
      justify-content:flex-end;
      padding: 0px 60px 0px 0px;
      align-items: center;
       cursor: pointer;
    }
    .sidebar>.fa-bars{
        display: block;
        font-size: 30px;
        color: black;
    }
  
   .sidebar>.fa-xmark{
       display: none;
       font-size: 30px;
       color: black;
       
   }
  }